.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: lightgray;
  padding: 20px;
  color: blue;
  justify-content: center;
}

.bottomRom {
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
  font-weight: 600;
}
